/* .background{
    background-image:url("http://i.imgur.com/aYTwH6a.jpg");
    background-size:100%;
    width:50%;
    height:300px;
    text-align:center;
    border:2px solid black;
    float:center;
}

.text{
    display:none;
    text-align:center;
}

.background:hover .text{
    padding-top: 8em;
    display:block;
    transition: all 3s ease;
}

 */
.body{
    overflow: hidden;
    overflow-x: auto;
}

.pictures{
    display:inline-block;
}

.img{
    left:0;
    right:0;
    float:left;
}
.pictureOutline .albumArt {
    float:left;
    display:inline;
    list-style:none;
}

.pictureOutline .albumArt .img {
    display:block;
    padding: 0;
    width: 200px;
}



/*Background*/
.backgroundForMoment{
    background-size:100%;
    
}

/*Page set up*/


.spotify {
    /*edit*/
    width:100%;
    left:0%;
    right:0%;
    top:1px;
    bottom:0;
    position:absolute;
    font-family:arial;
}

/*Just to go left*/
.words, .buttons, h1 {
    margin-left:11%;
    color:#9AD9EA;
}

/*Go with the moment sign*/
h1 {
    position: absolute;
    top: 2em;
    font-size:4em;
}


/*Text description*/
.words {
    font-size: 1.125em;
    position: absolute;
    top: 15em;
    position:absolute;
}

/*Sign up to Spotify button*/

.button {
    text-align:center;
    border: 0.1em solid #9AD9EA;
    border-radius: 2.063em;
    background-color:#7092BF;
    width:14em;
    padding-top:.8em;
    padding-bottom:.8em;
    top:22em;
    position:absolute;
    font-size:1em;
}

.button:hover {
    transition: all .2s ease;
    color:#7092BF;
    background-color:#9AD9EA;
}

/*Sign up link*/
a {
    text-decoration: none;
}


/*Spotify Free and Premium sign up*/
h2{ 
    margin-top:.4em;
    padding-top:3em;
    text-align:center;
    font-size:2.5em;
    color:#2E2F33;
}

/*Just the FREE or PREMIUM is bolded with this*/

.freeOrPremium{
    font-weight:850;
    font-size:1.1em;
}

/*Getting the free and premium collumns together*/
.premium, .free{
    position:inline;
    text-align:block;
    float:left;
    margin-left:20.5%;
    margin-top:2em;
}

/*Spotify Free Specs*/
.free{
    color:black;
}

.freeName{
    margin-bottom:3.5em;
}

.freeSpecs{
    margin-bottom:1.5em;
}

.freeButton {
    margin-top:8em;
    font-family:arial;
    text-align:center;
    border: 0.063em solid #2E2F33;
    border-radius: 2.063em;
    background-color:#2E2F33;
    width:14em;
    padding-top:.8em;
    padding-bottom:.8em;
    position:absolute;
    font-size:1em;
    color:white;
}

.freeButton:hover {
    transition: all .2s ease;
    color:white;
    background-color:#46484E;
}

/*Spotify Premium Specs*/
.premium{
    color:#2EBD59;
}

.premiumName{
    margin-bottom:3.5em;
}

.premiumSpecs{
    margin-bottom:1.5em;
}

.premiumButton {
    font-family:arial;
    text-align:center;
    border: 0.063em solid #2EBD59;
    border-radius: 2.063em;
    background-color:#2EBD59;
    width:14em;
    padding-top:.8em;
    padding-bottom:.8em;
    position:absolute;
    font-size:1em;
    color:white;
}

.premiumButton:hover {
    transition: all .2s ease;
    color:white;
    background-color:#1ED760;
}